
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />      <meta name="description" content="">
      <title>Home</title>
      <link rel="stylesheet" href="http://localhost:3000/css2/assets/css/layout.css">
<link rel="stylesheet" href="http://localhost:3000/css2/assets/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">   </head>
   <body>
      <section class="mainBanner">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="nig" >
                     <ul>
                        <li>
                           <div class="estttex2">
                              <div class="est">
                                 <img src="assets/images/Untitled.png" alt="">
                              </div>
                              <div class="esttex">
                                 <h2>ESTABLISHMENT</h2>
                                 <h3>BAR NAME</h3>
                              </div>
                           </div>
                        </li>
                        <li>
                           <div class="dat">
                              <h2>DATE</h2>
                              <h3>mm/dd/yyyy</h3>
                           </div>
                        </li>
                     </ul>
                     <h1 >NIGHTLY OVERVIEW</h1>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <section class="bartender">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="bart bart_head">
                     <h1>BARTENDER PERFORMANCE</h1>
                  </div>
                  <div class="bart_tab">
                     <table>
                        <thead>
                           <tr>
                           <th>Bartender</th>
                           <th>Orders Delivered </th>
                           <th>Tips Earned</th>
                           <th>Average Drink Rating</th>
                           </tr>
                        </thead>
                        <tbody>
                            <% apiResponse.bartender.forEach(bartender => { %>
                                <tr>
                                    <td><%= bartender.name %></td>
                                    <td><%= bartender.Delivered %></td>
                                    <td>$<%= bartender.Tips %></td>
                                    <td style="font-weight:bold;"><%= bartender.rating %>/5 ★★★★</td>
                                </tr>
                            <% }); %>
                        </tbody>
                     </table>
                  </div>
                  <div class="menu bart_head">
                     <h1>Menu Performance</h1>
                  </div>
                  <div class="menu_body">
                     <ul>
                        <li>
                           <div class="bott">
                              <div class="bot_img">
                                 <img src="assets/images/bott.png" alt="">
                              </div>
                              <div class="bot_text">
                                 <h2>Best Selling Menu Item</h2>
                                 <h3><%= apiResponse.bestSellingMenu.name %></h3>
                                 <h1>$<%= apiResponse.bestSellingMenu.total %></h1>
                              </div>
                           </div>
                        </li>
                        <li>
                           <div class="pie spi4">
                              <div class="beer4"></div>
                              <div class="wine4"></div>
                              <div class="wrapper">
                                 <div class="d1"><div><span></span></div></div>
                                 <div class="d2"><div><span></span></div></div>
                                 <div class="d3"><div><span></span></div></div>
                                 <div class="d4"><div><span></span></div></div>
                                 <div class="d5"><div><span></span></div></div>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
                  <div class="menu_Tab">
                     <table>
                        <thead>
                           <tr>
                              <th>Rank</th>
                              <th>Drink Name</th>
                              <th>Orders</th>
                              <th>Sales</th>
                              <th>Average Drink Rating</th>
                           </tr>
                        </thead>
                        <tbody>
                            <% apiResponse.totalMenus.forEach(menu => { %>
                                <tr>
                                    <td><%= menu.rank %></td>
                                    <td><%= menu.menu_name %></td>
                                    <td><%= menu.totalOrders %></td>
                                    <td>$<%= menu.totalSales %></td>
                                    <td style="font-weight:bold;"><%= menu.averageRating %>/5 ★★★★</td>
                                </tr>
                            <% }); %>
                        </tbody>
                     </table>
                  </div>
                  <div class="event bart_head">
                     <h1>Event Performance</h1>
                  </div>
                  <div class="fri">
                     <ul>
                        <li>
                           <div class="eve">
                              <div class="eve_img">
                                 <img src="assets/images/event.png" alt="">
                              </div>
                              <div class="eve_text">
                                 <h1>Friday Night</h1>
                                 <h2>Total Attendance: 326</h2>
                              </div>
                           </div>
                        </li>
                        <li>
                           <div class="eve_star">
                              <ul>
                                 <li><p>4.5/5</p></li>
                                 <li><i class="fa-solid fa-star"></i></li>
                                 <li><i class="fa-solid fa-star"></i></li>
                                 <li><i class="fa-solid fa-star"></i></li>
                                 <li><i class="fa-solid fa-star"></i></li>
                                 <li><i class="fa-solid fa-star-half-stroke"></i></li>
                              </ul>
                           </div>
                        </li>
                     </ul>
                  </div>
                  <div class="revi">
                     <h2>Reviews</h2>
                  </div>
                  <div class="revi_lis">
                     <div class="rev_per">
                        <ul>
                           <li>
                              <div class="revi_img">
                                 <img src="assets/images/reci.png" alt="">
                              </div>
                           </li>
                           <li>
                              <div class="revi_text">
                                 <h4>David</h4>
                                 <p>Jan 01, 2022</p>
                                 <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, seddiam</p>
                                 <p>voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet</p>
                              </div>
                           </li>
                        </ul>
                     </div>
                     <div class="rev_per">
                        <ul>
                           <li>
                              <div class="revi_img">
                                 <img src="assets/images/reci.png" alt="">
                              </div>
                           </li>
                           <li>
                              <div class="revi_text">
                                 <h4>David</h4>
                                 <p>Jan 01, 2022</p>
                                 <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, seddiam</p>
                                 <p>voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet</p>
                              </div>
                           </li>
                        </ul>
                     </div>
                     <div class="rev_per">
                        <ul>
                           <li>
                              <div class="revi_img">
                                 <img src="assets/images/reci.png" alt="">
                              </div>
                           </li>
                           <li>
                              <div class="revi_text">
                                 <h4>David</h4>
                                 <p>Jan 01, 2022</p>
                                 <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, seddiam</p>
                                 <p>voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet</p>
                              </div>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="peak">
                     <h1>Peak Hours</h1>
                  </div>
                   <!-- add new -->
                   <div class="chart-container">
                     <canvas id="line-chart"></canvas>
                   </div>
                   <!-- add new -->
                  <div class="demo bart_head">
                     <h1>Demographics</h1>
                  </div>
                  <div class="demo_pie">
                     <ul>
                        <li>
                           <div class="demo_he">
                              <h2>Female : Male</h2>
                           </div>
                           <div class="pie fem">
                              <div class="wrapper1">
                                 <div class="d1"><div><span></span></div></div>
                                 <div class="d2"><div><span></span></div></div>
                              </div>
                           </div>
                        </li>
                        <li>
                            <div class="demo_he">
                                <h2>Female</h2>
                            </div>
                            <div class="pie spi2">
                                <div class="beer2"></div>
                                <div class="wrapper2 ">
                                    <div class="d1"><div><span></span></div></div>
                                    <div class="d2"><div><span></span></div></div>
                                    <div class="d3"><div><span></span></div></div>
                                    <div class="d4"><div><span></span></div></div>
                                    <div class="d5"><div><span></span></div></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="demo_he">
                                <h2>Male</h2>
                            </div>
                            <div class="pie spi">
                                <div class="beer"></div>
                                <div class="wine"></div>
                                <div class="wrapper3">
                                    <div class="d1"><div><span></span></div></div>
                                    <div class="d2"><div><span></span></div></div>
                                    <div class="d3"><div><span></span></div></div>
                                    <div class="d4"><div><span></span></div></div>
                                    <div class="d5"><div><span></span></div></div>
                                </div>
                            </div>
                        </li>
                     </ul>
                  </div>
                  <div class="demo_head">
                     <h1>Age</h1>
                  </div>
                  <div class="demo_chart">
                     <div id="container">
                        <canvas id="canvas"></canvas>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      

 
      <script src="http://localhost:3000/css2/assets/js/jquery.js"></script>
<script src="http://localhost:3000/css2/assets/js/custom.js"></script>
<script src="http://localhost:3000/css2/assets/js/Chart.min1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>
	new WOW().init();
</script>
   </body>
</html>